body {
	margin: 0;
}

#mr-buckets {
	position: absolute;
	height: 100%;
	width: 100%;
}

#mr-top-bucket {
	height: 50%;
}

#mr-top-left-bucket {
	float: left;
    height: 100%;
    width: 90%;
}

#mr-top-right-bucket {
	border-left: 1px solid #000000;
    float: left;
    height: 100%;
}

#mr-bottom-bucket {
	border: 1px solid black;
	height: 50%;
	top: 50%;
}
