<polymer-element name="menu-option" attributes="label icon listen empty action arguments expanded options">
  <template>
    <style type="text/css">
      :host {
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        touch-action: none;
        position: relative;
        display: block;
        cursor: pointer;
      }
      :host(:focus) {
        outline: 0;
      }
      :host(:not(.active)) {
      }
      :host(.expanded) {
      }
      :host > core-icon {
        vertical-align: bottom;
        margin-top: -0.25em;
        padding-top: 0;
        width: 1.3em !important;
        height: 1.3em !important;
      }
    </style>
    <nested-submenu id="submenu" options="{{options}}" expanded="{{expanded}}"><content></content></nested-submenu>
    <template if="{{icon}}"><core-icon icon="{{icon}}"></core-icon></template>&nbsp;{{label}}&nbsp;
  </template>
  <script type="text/javascript">
    Polymer('menu-option', {
      label: null,
      icon: null,
      holdTime: 250,
      options: [],
      ready: function() {
        var scope = this;

        this.expand = function() {
          scope.expanded = true;
          Platform.flush();
        };
        this.collapse = function() {
          scope.expanded = false;
          Platform.flush();
        };
        this.setAttribute('tabindex', 0);
        this.addEventListener('focus', function() {
          event.stopPropagation();
          scope.expand();
        });
        this.addEventListener('blur', function() {
          event.stopPropagation();
          scope.collapse();
        });

        this.addEventListener('keyup', function(event) {
          event.stopPropagation();
          // console.log( event.which );
          if( event.which == 13 ) {
            scope.fire('enter-pressed', scope);
          }
          // if( event.which == 38 ) {
          //   scope.fire('up-pressed', scope);
          // }
          // if( event.which == 40 ) {
          //   scope.fire('down-pressed', scope);
          // }
        });

      },
      attached: function() {
        var scope = this;
        setTimeout(function(){ // chromium bug?
          scope.fire('option-attached', scope);
          scope.fire('menu-needs-update');
        },250);
      },
      detached: function() {
        var scope = this;
        setTimeout(function(){ // chromium bug?
          scope.fire('menu-needs-update');
        },250);
      },
      update: function() {
        var scope = this;
        this.classList.toggle('active', this.action || this.options.length || this.$.submenu.optionElems.length);
        setTimeout(function(){
          scope.rect = scope.getBoundingClientRect();
          scope.$.submenu.parentHeight = scope.rect.height;
          scope.$.submenu.parentWidth = scope.rect.width;
        },250);
      },
      listenChanged: function() {
        this.update();
      },
      expandedChanged: function() {
        this.update();
        if (this.expanded) this.fire('option-expanded', this);
        this.classList.toggle('expanded', this.expanded);
      }
    });
  </script>
</polymer-element>