#mr-options {
	background-color: black;
	height: 100%;
}

.mr-option {
	background-color: black;
	cursor: pointer;
	display: table;
	height: 100%;
	text-align: center;
}

.mr-option-cell {
	display: table-cell;
	vertical-align: middle;
}

.mr-topic-option {
	border-right: 1px solid black;
	float: left;
	width: 33.3%;
}

.mr-location-option {
	border-right: 1px solid black;
	float: left;
	width: 33.3%;
}