.mr-report-article {
	background-color: black;
	border: 1px solid black;
	border-radius: 3px;
	overflow: hidden;
	padding: 6px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
}

.mr-report-article img {
	margin-right: 10px;
}

.mr-report-article p {
	display: inline;
}