<!doctype html>
<html class="locale-us user-recognized no-js" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" >
	<head>
		<title>Map Report | Dynamic News</title>
		<meta name="description" content="Map Report Dynamic News">
		<link rel="canonical" href="http://www.mapreport.com">
		<link rel="image_src" href="http://www.mapreport.com">
		<meta itemprop="publisher" content="MapReport" />
		<meta property="og:type" content="News">
		<meta property="og:title" content="Map Report Dynamic News">
		<meta property="og:image" content="http://www.mapreport.com">
		<meta property='og:url' content="http://www.mapreport.com">
		<meta property="og:site_name" content="Map Report">
		<meta property="og:description" content="Map Report Dynamic News">
		<link rel="stylesheet" type="text/css" href="css/mapreport.css">
	
	    <script data-main="js/home.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
	</head>
	<body>
		<div id="mr-buckets">
			<div id="mr-top-bucket">
				<div id="mr-top-left-bucket"></div>
				<div id="mr-top-right-bucket"></div>
			</div>
			<div id="mr-bottom-bucket"></div>
		</div>
	</body>
	<script type="text/template" id="mr-map-template">
		<div id="mr-map">
			<div id="gmap_canvas"></div>
		</div>
	</script>
	<script type="text/template" id="mr-console-template">
		<div id="mr-console"></div>
	</script>
	<script type="text/template" id="mr-options-template">
		<div id="mr-options">
			<div class="mr-option">TOPIC</div>
			<div class="mr-option">LOCATION</div>
			<div class="mr-option">TIME</div>
		</div>
	</script>
	<script type="text/template" id="mr-report-template">
		<div id="mr-report">
			<% _.each(models, function(article) { %>
				<div class="mr-report-article"><%= article.get("label") %></div>
			<% }); %>
		</div>
	</script>
</html>
