#mr-map {	
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.mr-marker {
	border-radius: 10px;
	cursor: pointer;
}

.mr-marker.mr-main-marker {
	border: 5px solid red;
	left: -5px;
	position: relative;
	top: -5px;
	z-index: 1001;
}

.mr-marker.mr-selected-marker {
	border: 5px solid yellow;
	left: -5px;
	position: relative;
	top: -5px;
	z-index: 1002;
}