#mr-map {	
	height: 100%;
	overflow: hidden;
	width: 100%;
}

.mr-marker {
	border-radius: 10px;
	cursor: pointer;
}

.mr-marker.mr-main-marker {
	border: 5px solid black;
}

.mr-marker.mr-selected-marker {
	border: 5px solid red;
}