#mr-options {
	background-color: black;
	height: 100%;
}

.mr-option {
	background-color: black;
	cursor: pointer;
	display: table;
	height: 5%;
	position: fixed;
	text-align: center;
	width: 33.3%;
	z-index: 1;
}

.mr-option div:not(.mr-option-title) {
	display: none;
}

.mr-option.mr-expanded div {
	display: block;
}

.mr-option div:hover {
	background-color: lightgray;
}

.mr-option-cell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

.mr-option-cell img {
	margin: 0 5px 0 20px;
}

.mr-option-title {
	margin: 0 auto;
	width: 190px;
}

.mr-topic-option {
	border-right: 1px solid black;
	float: left;
}

.mr-location-option {
	border-right: 1px solid black;
	float: left;
	left: 33.3%;
}

.mr-time-option {
	left: 66.6%;
}