#mr-options {
	background-color: lightblue;
	height: 100%;
}

.mr-option {
	background-color: lightblue;
	cursor: pointer;
	display: table;
	height: 100%;
	text-align: center;
	width: 33.3%;
}

.mr-option-cell {
	display: table-cell;
	vertical-align: middle;
}

input-options {
	display: inline;
}

input-options::shadow nested-menu {
	top: 5%;
	width: 33.3%;
}

input-options::shadow nested-menu::shadow nested-submenu {
	width: 100%;
}

.mr-topic-option {
	border-right: 1px solid black;
	float: left;
}

.mr-topic-option input-options::shadow nested-menu {
	left: 0;
}

.mr-location-option {
	border-right: 1px solid black;
	float: left;
}

.mr-location-option input-options::shadow nested-menu {
	left: 33.3%;
}

.mr-time-option input-options::shadow nested-menu {
	left: 66.6%;
}