.mr-report-article {
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 3px;
	padding: 20px;
}

.mr-report-article img {
	margin-right: 10px;
}

.mr-report-article p {
	display: inline;
}